<!-- 工具栏 -->
<nav class="bar bar-tab">
    <a class="tab-item external" href="{:url('/admin/statistics/statisticslist')}">
        <span class="icon icon-app"></span>
        <span class="tab-label">统计</span>
    </a>
    <a class="tab-item external" href="{:url('/admin/student_govern/allList')}">
        <span class="icon icon-friends"></span>
        <span class="tab-label">学员</span>
    </a>
    <a class="tab-item external" href="{:url('/teacher/sign/studentlist')}">
        <span class="icon icon-star"></span>
        <span class="tab-label">签到</span>
    </a>
</nav>