{include file="public/header" /}
<body>

<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">{:config('system_title')}</h1>
        </header>
        <!-- 内容区 start -->
        <div class="content">
            <div class="list-block">
                <div class="card">
                    <div class="card-content">
                        <div class="card-content-inner">
                            WEO（WSSA Educational Organization），世界自由式轮滑协会教育机构，专职自由式轮滑教育教学及认证，提升并引导爱好者的学习兴趣及正确的学习方法。WEO与中国轮滑协会携手，将面向全国各地的轮滑协会、教育与培训机构、俱乐部、学校等等，建立当地的自由式轮滑考级点，方便自由式轮滑爱好者就近参加考级。WEO拥有雄厚的人才库，无论是讲师还是考官，还有多名现役或退役的优秀选手担任WEO指导员，为学员提供专业的指导服务。
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">考核内容：</div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <img class="pb-standalone" src="/static/images/article11.jpg" width="100%" height="100%">
                            <img class="pb-standalone" src="/static/images/article12.jpg" width="100%" height="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容区 end -->
        <nav class="bar bar-tab">
            <div class="tab-item external active">
				<span style="color: #333">
					技术支持 ©
					<a class="external" href="http://www.ym998.cn" target="_blank"> 源梦科技</a>
				</span>
            </div>
        </nav>
    </div>
</div>
{include file="public/foot" /}
</body>
</html>